doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Quacker News
    meta(name='description', content='A basic hackernews clone')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    .container.padtop
      .blue.header
        a(href='/').bold.inline Quacker News
        .padleft.inline
          a.padleft.padright(href='/new',class=page==='new'?'white':'') new
          |  |
          a.padleft.padright(href='#') comments
          |  |
          a.padleft.padright(href='/show',class=page==='show'?'white':'') show
          |  |
          a.padleft.padright(href='/ask',class=page==='ask'?'white':'') ask
          |  |
          a.padleft.padright(href='/submit') submit
        .padright.inline.pull-right
          if authenticated==true
            a.padleft.padright(href='/user/'+user) #{user}
            |  |
            a.padleft.padright(href='/logout') logout
          else
            a.padleft.padright(href='/login') login
      .grey.posts
        each comment in comments
          div.padbottom
            table
              tr
                td(style='vertical-align:top;')
                  a(href='',title='upvote').small.gray-font &#9650;
                td
                  span.gray-font #{comment.text}
              tr
                td(style='vertical-align:top;')
                  a(href='',title='downvote').small.gray-font &#9660;
                td
                  span.info.gray-font.small 
                    span.small #{comment.upvoteCount - comment.downvoteCount} points by 
                  a(href='/user/'+comment.author.local.username) #{comment.author.local.username} 
                  | #{moment(comment.createdAt).fromNow()} | 
                  a(href='/thread/'+comment.thread._id).gray-font.small go to thread
                