- var MIN_KARMA_TO_VOTE = 10;
doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Quacker News
    meta(name='description', content='A basic hackernews clone')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon' type='image/png' href='/favicon.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    if(user.role && user.role == 'admin')
      script(src='../admin/js/main.js')
    else
      script(src='/js/main.js') 
  body
    .container.padtop.no-margin-padding-on-small-screens 
      include header.pug
      .grey.posts
        table
          each post, index in posts
            tr
              td(style='vertical-align:top;')
                .gray-font #{index+1+((pageno-1)*30)}.
              td(style='vertical-align:top;').small
                if authenticated == true && user && user.karma >= MIN_KARMA_TO_VOTE || user.role == 'admin'
                  div(class=post.upvotes.indexOf(user._id)!=-1?'upvoted':'', data-oid=post._id,  title='upvote').small.gray-font.upvote-thread &#9650;
                  //a(href='',title='downvote').small.gray-font &#9660;
                  //a(href=post.url||'/thread/'+post._id).marginleft #{post.title}
              td(style='vertical-align:top;')
                a(href=post.status=='active' || page == 'removedthreads' ? post.url||'/thread/'+post._id : '/img/removed.png', target='_blank') #{post.title}
                if post.url && (post.status == 'active' || page == 'removedthreads')
                  span.gray-font.small 
                    a.small.gray-font (#{node_url.parse(post.url).hostname})
                br
                if page == 'removedthreads' && user.role == 'admin' && post.text
                  div.padtop.gray-font !{post.text.replace(/\n/g, '<br>')}
                span.info.gray-font.small
                  span.small #{post.upvotes.length} points by 
                    a(href='/user/'+post.author.local.username) #{post.author.local.username}
                    |   #{moment(post.createdAt).fromNow()} | 
                  a(href='/thread/'+post._id).gray-font.small #{post.comments.length} comments
                  if user.role == 'admin' && page == 'removedthreads'
                    |  | 
                    input(type='button' value=post.status=='active'?'mark as removed':'unmark as removed' data-type='thread' data-oid=post._id).disguised-btn.unmark-removed
          if posts.length == 30 && Number.isInteger(pageno)
            tr
              td
              td
              td
                a(href='?page='+(pageno+1)) more
        include footer.pug
