
doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Profile: #{user.local.username} | Quacker News
    meta(name='description', content='A basic hackernews clone')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon' type='image/png' href='/favicon.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    .container.padtop
      .blue.header
        a(href='/').bold.inline Quacker News
        .padleft.inline
          a.padleft.padright(href='/new') new
          |  |
          a.padleft.padright(href='/comments') comments
          |  |
          a.padleft.padright(href='/show') show
          |  |
          a.padleft.padright(href='/ask') ask
          if currUser.role == 'admin'
            | |
            a.padleft.padright(href='/admin/removedthreads',class=page=='removedthreads'?'white':'') removed threads
            | |
            a.padleft.padright(href='/admin/removedcomments',class=page=='removedcomments'?'white':'') removed comments
          |  |
          a.padleft.padright(href='/submit') submit
        .padright.inline.pull-right
          if authenticated==true
            a.padleft.padright(href='/user/'+cUsername) #{cUsername} (#{currUser.karma})
            |  |
            a.padleft.padright(href='/logout') logout
          else
            a.padleft.padright(href='/login') login
      .grey.posts.gray-font
        if !thisuser
          table
            tr
              td username: 
              td #{user.local.username}
            tr
              td karma:
              td #{user.karma}
            tr
              td created
              td #{moment(user.createdAt).fromNow()}
            tr
              td about:
              td #{user.about||'<This user has no about me.>'}
            tr
              td
              td
                a(href='/user/'+user.local.username+'/comments').underline comments (#{user.comments ? user.comments.length : 0})
            tr
                td
                td
                  a(href='/user/'+user.local.username+'/threads').underline threads (#{user.threads ? user.threads.length : 0})
            tr
              td
              td
                a(href='#').underline favorites (doesn't work ... yet)
        else
          form(action='/updateuser',method='POST')
            table
              tr
                td username: 
                td #{user.local.username}
              tr
                td karma:
                td #{user.karma}
              tr
                td created
                td #{moment(user.createdAt).fromNow()}
              tr
                td(style='vertical-align:top;') about:
                td 
                  textarea(cols='60', rows='4',name='about')
                    | !{user.about||''}
              tr
                td
                td
                  a(href='/user/'+user.local.username+'/comments').underline comments (#{user.comments ? user.comments.length : 0})
              tr
                td
                td
                  a(href='/user/'+user.local.username+'/threads').underline threads (#{user.threads ? user.threads.length : 0})
              tr
                td
                td
                  a(href='#').underline favorites (not implemented yet)
              tr
                td
                  input(type='submit',value='update').black